@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --primary: #00FFFF;
}

.dark {
  --background: #000000;
  --foreground: #FFFFFF;
  --primary: #00FFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}